
	.image-container {
  overflow: hidden;
  position: relative;
  
}

.image-container img {
  transition: transform 0.5s ease;
  
}

.image-container:hover img {
  transform: scale(1.04);
}
.text-start{
	margin-left:4%;
}
h3{
  transition: border-bottom 0.3s ease;
}

h3:hover {
  border-bottom: 2px solid white;
}  
