
	:root{
		--bs-border-radius: -0.375rem;
	}
	.h3{
	    --bs-heading-color: #16151561;
	}
	.h3:hover{
		--bs-heading-color: #161515;
	}
	.card-img-top {
		transition: all .3s ease;
	}
	.card-img-top:hover {
		opacity: 1;
		box-shadow: var(--shadow-image-hov);
		--shadow-image-hov: 0 15px 45px -5px rgba(7, 10, 25, .25);
		filter: brightness(1.07);
		transform: translate(0, -2px);
	}
	.xy{
		position: absolute;
		margin-top: -1rem;
	}
	.ab{
		position: absolute;
		margin-top: -2rem;
	}
	.a {
		color: inherit;
		transition: all .3s ease-in;
		opacity: initial;
		text-decoration: none;
	}
	.a:hover{
		opacity: 1;
		text-shadow: 2px 2px var(--c-gray-0), 2px -2px var(--c-gray-0), -2px 2px var(--c-gray-0), -2px -2px var(--c-gray-0);
		box-shadow: 0 -1px 0 0 var(--c-gray-0) inset, 0 -2px 0 0 var(--c-main, #000) inset;
		--c-gray-0: #fff;
		--c-main: #2d53fe;
	}
	.bc{
		position: absolute;
		margin-top: 167px;
	}
	.cd{
		position: absolute;
		margin-top: 8rem;
	}
	