.checked {
  color: orange;
}

/* .card-image { */
    /* -moz-box-sizing: border-box; */
    /* -webkit-box-sizing: border-box; */
    /* box-sizing: border-box; */
    /* margin: 0; */
    /* padding: 0; */
/* } */

.image-box {
    position: relative;
    margin: auto;
    overflow: hidden;
    /* width: 200px; */
}
.image-box img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.image-box:hover img {
    transform: scale(1.1);
}

.product-grid .product-thumb .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    -ms-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    transform: scale(1);
}
