<style>
.card:hover{
		transform:scale(0.8);
	}
	.card-img-top:hover{
		transform:scale(1.2);
		
	}
.btn-secondary {
    padding: 10px 10px;
    font-size: 22px;
    border-radius: 8px;
	height:20mm;
	width:20mm;
	left:20mm;
}
	
	
[class^="hvr-"]{
	margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bwp-header .wpbingoLogo img{
	max-width: 150px;
    width: 90%;
    position: relative;
    top: -3px;
}
img{
	 border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
 .h3.product-title{
	 font-size: calc(var(--font-size-body,14px) + 2px);
    margin: 0 0 4px;
    font-weight: 700;
 }
 
 .btn-secondary{
    animation: bounce-in 5s linear 1;
}

@keyframes bounce-in {
    0% {
        -webkit-transform: translateY(-300px) scale(0.3);
        transform: translateY(-300px) scale(0.3);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    32% {
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    46% {
        -webkit-transform: translateY(calc(-300px / 6));
        transform: translateY(calc(-300px / 6));
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    61% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    72% {
        -webkit-transform: translateY(calc(-300px / 12));
        transform: translateY(calc(-300px / 12));
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    81% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    87% {
        -webkit-transform: translateY(calc(-300px / 40));
        transform: translateY(calc(-300px / 40));
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
.price{
	font-weight:700;
}