/* .card img:hover{
    transform: rotate(-10deg) scale(0.9) translateY(-5px) translateX(5px); 
} */

body {
    height: 100vh;
}

.card {
    overflow: hidden;
}

.card-body {
    position: absolute;
    opacity: 0;
}

.card:hover {
    box-shadow: 12px 12px 10px 0px #00000080;
    transition: all 0.5s ease-in-out;
    background-color: rgba(191, 191, 191, 0.232);
}

.card:hover img {
    transform: scale(0.9);
    transition: transform 1s ease-in-out;
}

.card:hover .card-body {
    opacity: 1;
    position: relative;
    transition: all 1s ease-in-out;
}